* {
    box-sizing: border-box;
}
body {
    font-family: "Nunito" !important;
    font-weight: 400;
    font-size: 16px;
}

.dark {
    --main-dark-bg-color: black;
    --main-dark-text-color: white;
    background-color: #000;
    color: #fff;
}
