.site-header {
    background-image: url("/images/image/herobgm.svg");
    background-repeat: no-repeat;
    background-position: -118px -40px;
}
.switch {
    width: 32px;
    height: 32px;
    background-image: url("/images/icon/switch.svg");
}
.header-button {
    width: 26px;
    height: 26px;
    background-image: url("/images/icon/menu.svg");
}
.text-box {
    max-width: 342px;
    margin: 0 auto;
}
.header-title {
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 10px;
    letter-spacing: -0.01em;
}
.header-desc {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #fff;
}
.links {
    flex-direction: column;
}
.links>a {
    display: block;
    margin-bottom: 10px;
    padding: 17px 0;
    text-decoration: none;
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: 0.01em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 32px;
}
.links>a:nth-child(2) {
    background-color: #FF007A;
    border: 1px solid transparent;
}
.hero-picture {
    display: block;
    width: 343px;
    height: 200px;
    margin: 0 auto;
}

@media only screen and (min-width: 375px) {
    .site-header {
        background-image: url("/images/image/herobg.svg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -320px;
    }
}
// 
@media only screen and (min-width: 591px) {
    .header-picture {
        width: 453px;
        height: 295px;
    }
}
@media only screen and (min-width: 640px) {
    .header-picture {
        font-weight: 800;
        font-size: 56px;
        line-height: 120%;
    }
    .intro__desc-box {
        max-width: 471px;
        margin: 24px auto 40px;
    }
    .intro__desc {
        font-weight: 500;
        font-size: 18px;
        line-height: 155%;
        text-align: center;
        letter-spacing: 0.01em;
    }
}
@media only screen and (min-width: 807px) {
    .header-picture {
        width: 563px;
        height: 391px;
    }
    .intro__links {
        flex-direction: row-reverse;
        margin-bottom: 117px;
    }
    .intro__link:first-child {
        margin-left: 33px;
        margin-bottom: 0;
    }
}
@media only screen and (min-width: 1240px) {
    .header-picture {
        width: 784px;
        height: 514px;
    }
}
