@use "../mixins";

.dark>.site-header {
    background-image: url("/images/image/darktheme.svg");
}
.site-header {
    background-image: url("/images/image/herobgm.svg");
    background-repeat: no-repeat;
    background-position: -118px -40px;
}
.switch {
    width: 32px;
    height: 32px;
    background-image: url("/images/icon/switch.svg");
}
.nav-item>a {
    font-weight: 700;
    font-size: 18px;
    line-height: 155%;
    letter-spacing: 0.01em;
    color: #fff !important;
}
.nav-item>a:hover {
    text-decoration-line: underline;
    opacity: 0.5;
}
.iframe-wrapper {
    width: 50% !important;
    height: 283px;
}
.header__iframe {
    width: 100%;
    height: 283px;
}
.header-button {
    width: 26px;
    height: 26px;
    background-image: url("/images/icon/menu.svg");
}
.text-box {
    max-width: 342px;
    margin: 0 auto;
}
.header-title {
    font-family: 'Nunito';
    font-weight: 800;
    font-size: 36px;
    margin-bottom: 10px;
    letter-spacing: -0.01em;
}
.header-desc {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #fff;
}
.links {
    flex-direction: column;
}
.links>a {
    display: block;
    margin-bottom: 10px;
    padding: 17px 0;
    text-decoration: none;
    font-family: 'Nunito';
    font-weight: 600;
    line-height: 155%;
    letter-spacing: 0.01em;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 32px;
}
.links>a:first-child {
    position: relative;
    padding-right: 71px;
    padding-left: 19px;
}
.links>a:first-child::after {
    position: absolute;
    top: 12px;
    right: 25px;
    width: 36px;
    height: 36px;
    background-image: url("/images/icon/video.svg");
    content: "";
}
.links>a:nth-child(2) {
    background-color: #FF007A;
    border: 1px solid transparent;
}
.header-picture {
    display: block;
    width: 343px;
    height: 200px;
    margin: 0 auto;
}

@media only screen and (min-width: 375px) {
    .site-header {
        background-image: url("/images/image/herobg.svg");
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: -320px;
    }
}
//

@media only screen and (min-width: 451px) {
    .header-title {
        font-size: 42px;
        margin-bottom: 24px;
    }
}

@media only screen and (min-width: 591px) {
    .header-picture {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 453px;
        height: 295px;
    }
    .text-box {
        max-width: 737px;
        margin-bottom: 40px;
    }
    .header-title {
        font-size: 56px;
        line-height: 120%;
        margin-bottom: 24px;
    }
    .text-box-small {
        max-width: 471px;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 807px) {
    .header-picture {
        width: 563px;
        height: 391px;
    }
    .links {
        flex-direction: row-reverse;
    }
    .links>a {
        padding: 17.5px 50px;
    }
    .links>a:nth-child(2) {
        margin-right: 33px;
    }
}
@media only screen and (max-width: 991px) {
    .switch {
        margin-right: 30px;
    }
    .header-wrapper {
        flex-direction: row-reverse ;
    }
}
@media only screen and (min-width: 1240px) {
    .header-picture {
        width: 784px;
        height: 514px;
    }
}
@media only screen and (min-width: 1400px) {
    .header-picture {
        width: 977px;
        height: 578px;
    }
}
