.hero-text-inner {
    max-width: 333px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.dark .hero-title {
    color: #fff;
}
.hero-title {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: -0.01em;
    color: #211F25;
}
.dark .hero-desc {
    color:  #D6D6D6;
}
.hero-desc {
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #3D3A41;
}
.cards {
    display: flex;
    flex-direction: column;
    max-width: 405px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    
}
.dark .hero-card {
    background-color: #000;
    color: #fff;
}
.dark .hero-card:hover {
    background-color: #211F25;
}
.hero-card {
    max-width: 343px;
    margin-bottom: 30px;
    border: none !important;
    border-radius: 8px;
}
.hero-card:hover {
    background-color: #f7f5ff;
}
.hero-card:hover .card-link {
    color: #FF007A;
}
.card-title {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #211F25;
}
.dark .card-text {
    color: #D6D6D6;
}
.card-text {
    font-family: 'Nunito';
    line-height: 155%;
    letter-spacing: 0.02em;
    color: #3D3A41;
}
.dark .card-link {
    color: #fff;
}
.card-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 155%;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: #211F25;
}

@media only screen and (min-width: 570px) and (max-width: 1240px) {
    .hero-text-inner {
        max-width: 450px;
        margin-bottom: 40px;
    }
    .cards {
        max-width: 70%;
        margin: 0 auto;
    }
    .card {
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (min-width: 1240px){
    .hero {
        padding: 100px 0;
    }
    .hero-title {
        font-size: 48px;
        margin-bottom: 16px;
    }
    .hero-text-inner {
        max-width: 575px;
        margin-bottom: 80px;
    }
    .cards {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}