@use "../mixins";
.dark .news {
    background-color: #211F25;
}
.news {
    padding-top: 80px;
    padding-bottom: 80px;
}
.news-text-wrapper {
    margin: 0 auto;
    text-align: center;
}
.news-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.01em;
    color: #211F25;
}
.news-desc {
    font-size: 18px;
    line-height: 24px;
    color: #3D3A41;
}
.news-top-link {
    display: none;
    height: 56px;
    padding: 0 28px;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    color: #FF007A;
    border: 1px solid #FF007A;
    border-radius: 32px;
}
.news-top-link:hover {
    @include mixins.hoverStyled;
}
.news-list {
    @include mixins.listUnstyled;
    flex-direction: column;
    max-width: 410px;
    margin: 0 auto;
}
.news-item {
    max-width: 406px;
    margin-bottom: 30px;
    padding-bottom: 32px;
    border: 1px solid transparent;
    border-radius: 8px;
}
.news-item:hover {
    background-color: #fff;
    box-shadow: 0px 4px 14px #CDE3EF;
}
.news-item:hover .news-item-link::after{
    background-image: url("/images/icon/rightred.svg");
}
.news-item-box {
    max-width: 310px;
    margin-top: 27px;
    margin-left: 23px;
}
.news-item-box>span {
    font-weight: 600;
    font-size: 13.6585px;
    line-height: 150%;
    color: #211F25;
    background-color:#F4F4F4;
}
.new-item-box>time {
    font-weight: 600;
    font-size: 13.6585px;
    line-height: 150%;
    color: #3D3A41;
}
.news-item>img {
    width: 100%;
}
.news-item-title {
    font-weight: 600;
    font-size: 23.4146px;
    line-height: 140%;
    color: #211F25;
}
.new-item-desc-wrapper {
    max-width: 359px;
}
.news-item-desc {
    font-family: "Roboto";
    line-height: 150%;
    margin-bottom: 32px;
    color: #3D3A41;
}
.news-item-link {
    position: relative;
    line-height: 150%;
    text-decoration: none;
    color: #FF007A;
}
.news-item-link::after {
    position: absolute;
    top: 6px;
    right: -13px;
    width: 6px;
    height: 11px;
    background-image: url("/images/icon/right.svg");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}


@media only screen and (min-width: 1240px) {
    .news {
        padding: 120px 0;
        background-color: #F4FBFF;
    }
    .news-text-wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        margin-bottom: 80px;
        margin-left: 0;
        margin-right: auto;
        text-align: start;
    }
    .news-top-link {
        display: block;
    }
    .news-title {
        margin-bottom: 16px;
    }
    .news-list {
        max-width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .news-item {
        width: 406px;
    }
}