@use "../mixins";

.pricing {
    padding: 40px 0;
}
.pricing-text-wrapper {
    max-width: 297px;
    margin: 0 auto;
}
.pricing-title {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 36px;
    line-height: 34px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #000000;
}
.pricing-desc {
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}
.pricing-list {
    @include mixins.listUnstyled;
    flex-direction: column;
    margin: 0 auto;
}
.pricing-item {
    flex-direction: column;
    max-width: 405px;
    margin-bottom: 6px;
    padding: 31.22px;
    border: 1px solid transparent; 
    border-radius: 8px;
}
.pricing-item:hover {
    border: 1px solid #FF007A;
}
.pricing-item-title {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #211F25;
}
.pricing-cost {
    font-weight: 800;
    font-size: 28px;
    line-height: 120%;
    color: #211F25;
}
.pricing-addition-cost {
    line-height: 155%;
    letter-spacing: 0.02em;
    color: #3D3A41;
}
.limits {
    @include mixins.listUnstyled;
    margin-bottom: 39px;
}
.limit {
    position: relative;
    line-height: 155%;
    letter-spacing: 0.02em;
    color: #3D3A41;
}

.limit::before {
    position: absolute;
    top: 6px;
    left: -36px;
    width: 17px;
    height: 12px;
    background-image: url(/images/icon/succes.svg);
    background-repeat: no-repeat;
    content: "";
}
.pricing-item-link {
    @include mixins.linkStyled;
    font-family: "Roboto";
    padding: 16px 28px;
    line-height: 150%;
    color: #FF007A;
    border: 1px solid #FF007A;
    border-radius: 32px;
}
.pricing-item:hover .pricing-item-link {
    @include mixins.hoverStyled;
}
