@use "../mixins";

.protection-list {
    @include mixins.listUnstyled;
}
.protection-img {
    max-width: 332px;
}


.protection-title {
    font-family: 'Nunito';
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #211F25;
}
.protection-desc {
    line-height: 155%;
    letter-spacing: 0.02em;
    color: #3D3A41;
}

.protection-link {
    @include mixins.linkStyled;
    line-height: 155%;
    letter-spacing: 0.01em;
    color: #ff007a;
    display: inline-block;
    width: 187px;
    border: 1px solid #ff007a;
}